{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% load render_table from django_tables2 %}

{% block contents %}
<div class="section-header">
    <h1> 商品一覧 </h1>
</div>
<!-- ウィンドウサイズに合わせて枠の大きさを変える -->

<div class="container-fluid">
    <!-- 水平方向の横スクロールバーを加える -->
    <div class="table-responsive col-auto">
        <form method="POST">
            {% csrf_token %}
            <p class='mb-0 mt-3'>キーワード検索</p>
            <input type="text" name="keyword">

            <div onclick="obj=document.getElementById('open').style; obj.display=(obj.display=='none')?'block':'none';" class="mt-2">
            <a style="cursor:pointer;">🔻詳細検索条件指定🔻</a>
            </div>

            <div id="open" style="display:none;clear:both;">
            <p class='mb-0 mt-3'>下限価格〜上限価格</p>
            <input type="number" name="min_price">〜
            <input type="number" name="max_price">
            <p class='mb-0 mt-3'>レビュー数の下限</p>
            <input type="number" name="min_review_count"><br>
            <p class='mb-0 mt-3'>星の数の数の下限</p>
            <input type="number" name="min_star_count">
            <button type="submit">検索</button>
            </div>

        </form>
            <div class="mt-4">検索結果: {{ count }} 件</div>
            <table class="table table-striped">
                {% render_table table %}
            </table>
    </div>
</div>
{% endblock %}
 