{% load static %}
<!DOCTYPE html>
<html lang="ja-JP">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>{% block title %}{% endblock %}</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
 
  <!-- CSS Libraries -->

  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/components.css' %}">
  <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
  <link rel="stylesheet" href="{% static 'handsontable/handsontable.min.css' %}">
  <link href="{% static 'css/my_styles.css' %}" rel="stylesheet">
  <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
  {% block head %}{% endblock %}
</head>

<body>
  <div id="app">
    <div class="main-wrapper">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <form class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">

            <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
          </ul>
        </form>
        <ul class="navbar-nav navbar-right">
          <li class="dropdown dropdown-list-toggle">
            <div class="nav-link nav-link-lg nav-link-user">
              <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                <img alt="image" src="{% static 'assets/img/avatar/avatar-1.png' %}" class="rounded-circle mr-1">
                <div class="d-sm-none d-lg-inline-block">{{ user.email }}</div></a>
                <div class="dropdown-menu dropdown-menu-right">
                    {% comment %} <a class="dropdown-item" href="{% url 'mypage:mypage' %}"><i class="far fa-address-card"></i> マイページ</a>
                    <a class="dropdown-item" href="{% url 'mypage:keepa_setting' %}"><i class="fas fa-laptop-code"></i>
                      Keepa設定</a>
                    <a class="dropdown-item" href="{% url 'mypage:yahoo_account' %}"><i class="fab fa-yahoo"></i> ヤフオクID設定</a> {% endcomment %}
                    <a class="dropdown-item" href="{% url 'users:logout' %}"><i class="fas fa-door-open"></i> ログアウト</a>
                    {% if user.is_superuser %}
                      <a class="dropdown-item" href="/admin"><i class="fas fa-user-lock"></i> 管理者ページ</a>
                    {% endif %}
                </div>
            </div>
          </li>
      </ul>
      </nav>
      <div class="main-sidebar">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href=""><i></i>Django Study</a>
          </div>
          <div class="sidebar-brand sidebar-brand-sm">
            <a href="#">D/S</a>
          </div>
          <ul class="sidebar-menu">
          
            <li class="nav-item">
              <a href="#" data-toggle="dropdown" class="nav-link"><i class="fas fa-cog"></i><span>商品管理</span></a>
              <ul class="">
                <li><a class="nav-link" href="{% url 'item:register' %}"><i class="far fa-list-alt"></i>商品登録</a></li>
              </ul>
            </li>

            <div class="mt-4 mb-4 p-3 hide-sidebar-mini ">
              <a href="" class="btn btn-primary btn-lg btn-block btn-icon-split">
                <i class="fas fa-book-open"></i> マニュアル
              </a>
            </div>
          </ul>
        </aside>
      </div>

          {% comment %} <ul class="sidebar-menu">
            <li class="nav-item dropdown">
              <a href="{% url 'syuppin:list' %}" class="nav-link has-dropdown"><i class="fas fa-store"></i><span>出品管理</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'syuppin:status' %}"><i class="fas fa-download"></i>商品情報取得状況</a></li>
                <li><a class="nav-link" href="{% url 'syuppin:list' %}"><i class="fas fa-table"></i>商品一覧</a></li>
                <li><a class="nav-link" href="{% url 'torihiki:list' %}"><i class="fas fa-shopping-cart"></i>取引一覧</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-cog"></i><span>設定</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'setting:asin' %}"><i class="far fa-list-alt"></i>ASIN登録</a></li>
                <li><a class="nav-link" href="{% url 'setting:common-setting' %}"><i class="fas fa-sliders-h"></i>出品共通項目設定</a></li>
                <li><a class="nav-link" href="{% url 'setting:item-prefix' %}"><i class="fas fa-plus"></i>商品接頭語設定</a>
                </li>
                <li><a class="nav-link" href="{% url 'setting:replace-word' %}"><i class="fas fa-sync-alt"></i>置換設定</a>
                </li>
                <li><a class="nav-link" href="{% url 'setting:price-setting' %}"><i class="fas fa-money-bill-wave"></i>出品価格設定</a></li>
                <li><a class="nav-link" href="{% url 'setting:shipping-setting' %}"><i
                      class="fas fa-shipping-fast"></i>発送設定</a></li>
                <li><a class="nav-link" href="{% url 'setting:eval-setting' %}"><i class="fas fa-medal"></i>評価設定</a></li>
                <li><a class="nav-link" href="{% url 'setting:edit-image' %}"><i class="far fa-image"></i>画像加工設定</a>
                </li>
              </ul>
            </li>

							
            <div class="mt-4 mb-4 p-3 hide-sidebar-mini ">
              <a href="{% url 'mypage:manual' %}" class="btn btn-primary btn-lg btn-block btn-icon-split">
                <i class="fas fa-book-open"></i> マニュアル
              </a>
            </div>
          </ul> {% endcomment %}
        </aside>
      </div>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          {% block contents %}{% endblock %}
        </section>
      </div>
      <footer class="main-footer">
        <AY-Selling class="footer-left">
          Django Study 2021
        </div>
        <div class="footer-right">
          1.0.0
        </div>
      </footer>
    </div>
  </div>

  <!-- General JS Scripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/material-design-inspired-color-picker@1.7.2/dist/md-color-picker.min.js"></script>

  <script src="{% static 'assets/js/stisla.js' %}"></script>

  <!-- JS Libraies -->
  <script>
    window.jQuery || document.write('<script src="/static/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')
  </script>
  <!-- Template JS File -->
  <script src="{% static 'assets/js/scripts.js' %}"></script>
  <script src="{% static 'assets/js/custom.js' %}"></script>
  <script src="{% static 'js/jquery.DOMWindow.js' %}"></script>
  {% comment %} <script src="{% static 'js/saveForm.js' %}"></script> {% endcomment %}

  <!-- stripe -->
  <script src="https://js.stripe.com/v3/"></script>

  <!-- Page Specific JS File -->
  {%block script%}{%endblock%}
</body>

</html>
