{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} TOP {% endblock %}
{% block contents %}
     <section>
        <div class="section-header">
            <h1> Index </h1>
        </div>
        <p>indexページです</p>
        <div class="section-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            Welcome！
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}

{% endblock %}